.sidenav li .icon-nav-item {
    display: flex;
    justify-content: space-between;
}

.main-content {
    min-height: calc(100vh - 202px);
}

@media only screen and (min-width: 601px) {
    .main-content {
        min-height: calc(100vh - 208px);
    }
}

/*.footer-copyright {*/
/*    display: none;*/
/*}*/