html, body {
    max-width: 100vw;
}

@media only screen and (min-width: 1200px) {
    .main-content {
        max-width: 1200px;
        margin: auto;
    }
}

.input-field .prefix ~ input, 
.input-field .prefix ~ textarea, 
.input-field .prefix ~ label, 
.input-field .prefix ~ .validate ~ label, 
.input-field .prefix ~ .helper-text, 
.input-field .prefix ~ .autocomplete-content {
    margin-bottom: 0;
}


.sidenav li .icon-nav-item {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    display: none;
}

.page-footer.container.row.col {
    height: auto;
    max-height: 32px
}